---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/query/?q=ig_shortcode(6zVfmqAMkD)%7Bcomments.last(2)%7Bcount,nodes%7Bid,created_at,text,user%7Bid,profile_pic_url,username,follows%7Bcount%7D,followed_by%7Bcount%7D,biography,full_name,media%7Bcount%7D,is_private,external_url,is_verified%7D%7D,page_info%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "comments": {"count": 58, "page_info": {"has_previous_page":
        true, "start_cursor": "AQB49iOlDNbmBhV4HY2gZywq3PrqSFMxeNBIv2kTeUeV2BEuvEPGqS7Q65hnTpyMO1jKPb_4FuC-FPnudZtMIuOjIVaEdAXQnTnKuNx3jzK4IUSckQcIi4zJ_AeONUZvf3I",
        "end_cursor": null, "has_next_page": false}, "nodes": [{"text": "I was wondering
        when it was going to happen!! About time!! Congrats @kate !!", "created_at":
        1440635020.0, "id": "17851968544000050", "user": {"username": "govickygo",
        "follows": {"count": 209}, "followed_by": {"count": 286}, "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/11899579_445264158978920_1539710317_a.jpg",
        "biography": "True Aries \u2648\ufe0f | Type A \ud83d\udcdd | Master of GSD
        \ud83d\udc81\ud83c\udffb| Fitness \u0026 Health Enthusiast \ud83c\udfcb\ud83c\udffe\ud83c\udf4e|
        \ud83d\udc81\ud83c\udffb\u200d\u2642\ufe0f:@heybondo and \ud83d\udc76\ud83c\udffb:@greysonphilip",
        "full_name": "Victoria (Go) Bond", "media": {"count": 1054}, "is_verified":
        false, "id": "25089680", "is_private": true, "external_url": null}}, {"text":
        "@kate omg in positano! #hediditright so perfect auguri!", "created_at": 1441849140.0,
        "id": "17851999804000050", "user": {"username": "lorenaboria", "follows":
        {"count": 356}, "followed_by": {"count": 580}, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/10326580_1434892050118593_1593998871_a.jpg",
        "biography": null, "full_name": "lorenaboria", "media": {"count": 493}, "is_verified":
        false, "id": "27957454", "is_private": true, "external_url": null}}]}}'
  recorded_at: Wed, 12 Oct 2016 04:00:12 GMT
recorded_with: VCR 3.0.3
