---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/query/?q=ig_shortcode(6zVfmqAMkD)%7Bcomments.before(%2017851999804000050%20,%202)%20%20%20%20%20%20%7Bcount,nodes%7Bid,created_at,text,user%7Bid,profile_pic_url,username,%20%20%20%20%20%20follows%7Bcount%7D,followed_by%7Bcount%7D,biography,full_name,media%7Bcount%7D,%20%20%20%20%20%20is_private,external_url,is_verified%7D%7D,page_info%7D%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"status": "ok", "comments": {"count": 58, "page_info": {"has_previous_page":
        true, "start_cursor": "AQAu7d1wuNd1t1KtYYI8HK1Strw-4epWwKJbNRVHvcMEphlmq8YlmoiAIUueVjdO8ooOJAteR6_6d9kbetDwwSdfxevWIOwObp3WdxozbS7RZb72lfMxWdkUJGnPm7mD4Ds",
        "end_cursor": null, "has_next_page": false}, "nodes": [{"text": "So exciting
        @kate! Congrats", "created_at": 1440628285.0, "id": "17851968304000050", "user":
        {"username": "lrobins86", "follows": {"count": 352}, "followed_by": {"count":
        145}, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/11375268_1635992760023018_1905777511_a.jpg",
        "biography": null, "full_name": "lrobins86", "media": {"count": 910}, "is_verified":
        false, "id": "28169668", "is_private": true, "external_url": null}}, {"text":
        "I was wondering when it was going to happen!! About time!! Congrats @kate
        !!", "created_at": 1440635020.0, "id": "17851968544000050", "user": {"username":
        "govickygo", "follows": {"count": 209}, "followed_by": {"count": 286}, "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/11899579_445264158978920_1539710317_a.jpg",
        "biography": "True Aries \u2648\ufe0f | Type A \ud83d\udcdd | Master of GSD
        \ud83d\udc81\ud83c\udffb| Fitness \u0026 Health Enthusiast \ud83c\udfcb\ud83c\udffe\ud83c\udf4e|
        \ud83d\udc81\ud83c\udffb\u200d\u2642\ufe0f:@heybondo and \ud83d\udc76\ud83c\udffb:@greysonphilip",
        "full_name": "Victoria (Go) Bond", "media": {"count": 1054}, "is_verified":
        false, "id": "25089680", "is_private": true, "external_url": null}}]}}'
  recorded_at: Wed, 12 Oct 2016 03:43:00 GMT
recorded_with: VCR 3.0.3
