---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/explore/tags/academgorodok/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"tag": {"media": {"count": 6825, "page_info": {"has_previous_page":
        false, "start_cursor": "1359109428254877211", "end_cursor": "J0HV_2cmwAAAF0HV_xZwAAAAFiYA",
        "has_next_page": true}, "nodes": [{"code": "BLchtL6BCYb", "dimensions": {"width":
        1080, "height": 892}, "comments_disabled": false, "owner": {"id": "589054046"},
        "comments": {"count": 0}, "caption": "International Natural Sciences Tournament
        INST''16 begins today at NSU! Welcome snowy Tournament participants from Singapore!\n\u0423\u0436\u0435
        \u0441\u0435\u0433\u043e\u0434\u043d\u044f \u0432 \u041d\u0413\u0423 \u043d\u0430\u0447\u0438\u043d\u0430\u0435\u0442\u0441\u044f
        \u041c\u0435\u0436\u0434\u0443\u043d\u0430\u0440\u043e\u0434\u043d\u044b\u0439
        \u0442\u0443\u0440\u043d\u0438\u0440 \u0435\u0441\u0442\u0435\u0441\u0442\u0432\u0435\u043d\u043d\u044b\u0445
        \u043d\u0430\u0443\u043a INST''16! \u041f\u043e\u043f\u0440\u0438\u0432\u0435\u0442\u0441\u0442\u0432\u0443\u0435\u043c
        \u0437\u0430\u0441\u043d\u0435\u0436\u0435\u043d\u043d\u044b\u0445 \u0443\u0447\u0430\u0441\u0442\u043d\u0438\u043a\u043e\u0432
        \u0422\u0443\u0440\u043d\u0438\u0440\u0430 \u0438\u0437 \u0421\u0438\u043d\u0433\u0430\u043f\u0443\u0440\u0430!\ud83d\ude4c\ud83d\ude03\n\u0424\u043e\u0442\u043e:
        @zlashchinskaya\n#nsu #\u043d\u0433\u0443 #inst #inst16 #singapore #\u0441\u0438\u043d\u0433\u0430\u043f\u0443\u0440
        #studyinrussia #nsulife #university #\u0443\u043d\u0438\u0432\u0435\u0440\u0441\u0438\u0442\u0435\u0442
        #academgorodok #\u0430\u043a\u0430\u0434\u0435\u043c\u0433\u043e\u0440\u043e\u0434\u043e\u043a
        #atmosphere #\u0430\u0442\u043c\u043e\u0441\u0444\u0435\u0440\u0430 #novosibirsk
        #\u043d\u043e\u0432\u043e\u0441\u0438\u0431\u0438\u0440\u0441\u043a", "likes":
        {"count": 171}, "date": 1476238491, "thumbnail_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c94.0.892.892/14704968_575771372609097_1348781775765110784_n.jpg?ig_cache_key=MTM1OTEwOTQyODI1NDg3NzIxMQ%3D%3D.2.c",
        "is_video": false, "id": "1359109428254877211", "display_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/14704968_575771372609097_1348781775765110784_n.jpg?ig_cache_key=MTM1OTEwOTQyODI1NDg3NzIxMQ%3D%3D.2"},
        {"code": "BLbob3SgUxJ", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled":
        false, "owner": {"id": "1489728743"}, "comments": {"count": 1}, "caption":
        "\u041f\u0440\u0438\u0432\u044b\u0447\u043a\u0430 \u0437\u0430\u0433\u043e\u043d\u044f\u0442\u044c
        \u0441\u0435\u0431\u044f \u0441\u043b\u04[...]
