---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/explore/tags/academgorodok/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"tag": {"name": "academgorodok", "content_advisory": null, "media":
        {"nodes": [{"comments_disabled": false, "id": "1623662814044275006", "dimensions":
        {"height": 1080, "width": 1080}, "owner": {"id": "5917490835"}, "thumbnail_src":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/22427117_121549065184390_7830247030155902976_n.jpg",
        "thumbnail_resources": [], "is_video": false, "code": "BaIaLoSHsE-", "date":
        1507775712, "display_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/22427117_121549065184390_7830247030155902976_n.jpg",
        "caption": "\ud83e\udd13\u0421\u043b\u043e\u0432\u043e \u043d\u0435\u0434\u0435\u043b\u0438:\n\u041b\u0443\u0434\u0434\u0438\u0437\u043c
        - \u044d\u0442\u043e\n\ud83d\udd391. \u044d\u0441\u0442\u0435\u0442\u0438\u0447\u0435\u0441\u043a\u043e\u0435
        \u0442\u0435\u0447\u0435\u043d\u0438\u0435 \u0432 \u0434\u0440\u0430\u043c\u0430\u0442\u0443\u0440\u0433\u0438\u0438
        \u0438 \u0442\u0435\u0430\u0442\u0440\u0435, \u0441\u0444\u043e\u0440\u043c\u0438\u0440\u043e\u0432\u0430\u0432\u0448\u043[...]
