---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/explore/tags/academgorodok/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"graphql":{"hashtag":{"name":"academgorodok","is_top_media_only":false,"profile_pic_url":"https://scontent-lax3-1.cdninstagram.com/vp/487f467bbc1ba9727187e9205e44630b/5BBAE323/t51.2885-15/s150x150/e35/c0.134.1080.1080/16906639_1426480214070857_6625117114279657472_n.jpg","edge_hashtag_to_media":{"count":13872,"page_info":{"has_next_page":true,"end_cursor":"AQBLzn9ak28qHlDZtG2YZY50cCCAOulxaUwxxeY742o7sbhknW8M3tb9Hqks3Bc4jaVmvvlklgPuPpShkg7jCmuht-01U1lM4BwHbZht1W21vg"},"edges":[{"node":{"comments_disabled":false,"id":"1805334132944643871","edge_media_to_caption":{"edges":[{"node":{"text":"\u0411\u041e\u041b\u0415\u0419  \u0424\u0423\u0422\u0411\u041e\u041b\u041e\u041c
        \u041f\u041e-\u0410\u041d\u0413\u041b\u0418\u0419\u0421\u041a\u0418 \u0432\u043c\u0435\u0441\u0442\u0435
        \u0441  \u043d\u0430\u043c\u0438! \ud83d\ude09\ud83c\udf0d\u26bd\n\u0421\u043e\u0445\u0440\u0430\u043d\u044f\u0439
        \u0438 \u0437\u0430\u043f\u043e\u043c\u0438\u043d\u0430\u0439 \u043e\u0431\u044f\u0437\u0430\u0442\u0435\u043b\u044c\u043d\u044b\u0435
        \u0444\u0440\u0430\u0437\u044b![...]
