---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/explore/tags/academgorodok/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"graphql":{"hashtag":{"name":"academgorodok","is_top_media_only":false,"profile_pic_url":"https://scontent-lax3-1.cdninstagram.com/vp/09707d1da5750993fa9c1633f5d86a5f/5B6BC923/t51.2885-15/s150x150/e35/c0.134.1080.1080/16906639_1426480214070857_6625117114279657472_n.jpg","edge_hashtag_to_media":{"count":13356,"page_info":{"has_next_page":true,"end_cursor":"AQCqZ15ryDqHjdpCfR04weODn270ENJxX4a85db9XAIozESQYB9iO2Z_X2dfFQtkKphBMOaH0wzhgANveDR-FDs0-UP9Lgx7JGXgHsf9YoWwGg"},"edges":[{"node":{"comments_disabled":false,"id":"1759341325633572214","edge_media_to_caption":{"edges":[{"node":{"text":"\ud83d\udca5\u0420\u0430\u0441\u0442\u044f\u0436\u043a\u0430&\u041f\u0440\u043e\u043a\u0430\u0447
        \u0441 \u042d\u043b\u0438\u043d\u043e\u0439 \u041d\u0435\u0431\u043e\u043b\u044c\u0441\u0438\u043d\u043e\u0439
        \u2013 \u044d\u0442\u043e \u0431\u043e\u043b\u044c\u0448\u0435, \u0447\u0435\u043c
        \u0444\u0438\u0442\u043d\u0435\u0441! \ud83c\udfcc\u200d\u2640\ufe0f\n\u0411\u043e\u043b\u044c\u0448\u0435,
        \u0447\u0435\u043c \u043f\u0440\u043e\u0441\u0442\u043e \u0442\u044[...]
