---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/explore/tags/academgorodok/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"graphql":{"hashtag":{"name":"academgorodok","is_top_media_only":false,"profile_pic_url":"https://scontent-lax3-1.cdninstagram.com/vp/24d29eb07e574fa551d350c3f360eb60/5B935623/t51.2885-15/s150x150/e35/c0.134.1080.1080/16906639_1426480214070857_6625117114279657472_n.jpg","edge_hashtag_to_media":{"count":13490,"page_info":{"has_next_page":true,"end_cursor":"AQDULE2deBZuNNtfbsws284-yrO5tLYAy35DXlMemRJIv1DIYPZ3lGzz1ahdf3U2YTYXw_GbbHR1OLExzu-8JXWLo4S-YvAq-AQSQkcN4Du0MQ"},"edges":[{"node":{"comments_disabled":false,"id":"1769677203682142757","edge_media_to_caption":{"edges":[{"node":{"text":"\u0422\u0432\u043e\u0451
        \u043b\u0438\u0446\u043e, \u043a\u043e\u0433\u0434\u0430 \u0441\u0442\u044b\u0434\u043d\u043e
        \u0431\u044b\u0442\u044c \u0442\u0451\u043b\u043a\u043e\u0439... \ud83d\ude10
        \u041f\u043e\u0442\u043e\u043c \u0440\u0430\u0441\u0441\u043b\u0430\u0431\u043b\u0435\u043d\u0438\u0435
        \u0438 \u043f\u0440\u0438\u043d\u044f\u0442\u0438\u0435 \u0441\u0435\u0431\u044f
        \ud83d\ude0c \u043f\u043e\u0441\u043b\u0435\u0434\u043d\u0435\u0435 \u0444\u0[...]
