---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/borodanov/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user": {"username": "borodanov", "has_blocked_viewer": false, "follows":
        {"count": 66}, "requested_by_viewer": false, "followed_by": {"count": 75},
        "country_block": null, "has_requested_viewer": false, "external_url_linkshimmed":
        "http://l.instagram.com/?e=ATO8w_ia0N_4dMVFHZYZ0NI8qKteiiRQRhyi_fjwf9vXF2n6P-9Ku33P\u0026u=http%3A%2F%2Fvk.com%2Fborodanov",
        "follows_viewer": false, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_private": false, "full_name": "sergey", "media": {"count": 139, "page_info":
        {"has_previous_page": false, "start_cursor": "1273508744021128066", "end_cursor":
        "1229541378442899940", "has_next_page": true}, "nodes": [{"code": "BGsaXSRu7OC",
        "dimensions": {"width": 1080, "height": 1080}, "owner": {"id": "1531038819"},
        "comments": {"count": 0}, "caption": "#\u043e\u0431\u0441\u043a\u043e\u0435",
        "likes": {"count": 2}, "date": 1466034094, "thumbnail_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13385833_142044362869684_927698417_n.jpg?ig_cache_key=MTI3MzUwODc0NDAyMTEyODA2Ng%3D%3D.2",
        "is_video": false, "id": "1273508744021128066", "display_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/13385833_142044362869684_927698417_n.jpg?ig_cache_key=MTI3MzUwODc0NDAyMTEyODA2Ng%3D%3D.2"},
        {"code": "BF-xwjmu7ID", "dimensions": {"width": 1080, "height": 1080}, "owner":
        {"id": "1531038819"}, "comments": {"count": 0}, "caption": "and more #flowers",
        "likes": {"count": 26}, "date": 1464502856, "thumbnail_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/13261082_514869408704271_42526[...]
