---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/borodanov/?__a=1&max_id=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"user": {"username": "borodanov", "has_blocked_viewer": false, "follows":
        {"count": 75}, "requested_by_viewer": false, "followed_by": {"count": 91},
        "external_url_linkshimmed": "http://l.instagram.com/?e=ATMciHfrQr6na6HxPZXQR-MVmvTV9QdSv4IQjI6PGgMjXWECMOHKkdNb\u0026u=http%3A%2F%2Fvk.com%2Fborodanov",
        "has_requested_viewer": false, "country_block": null, "follows_viewer": false,
        "profile_pic_url_hd": "http://scontent-dft4-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "profile_pic_url": "http://scontent-dft4-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_private": false, "full_name": "sergey", "media": {"count": 153, "page_info":
        {"has_previous_page": false, "start_cursor": "1346335697979656349", "end_cursor":
        "1276107610755149849", "has_next_page": true}, "nodes": [{"code": "BKvJS8igUid",
        "dimensions": {"width": 1080, "height": 1080}, "comments_disabled": false,
        "owner": {"id": "1531038819"}, "comments": {"count": 0}, "caption": "\u042d\u0442\u043e
        #\u043c\u0435\u0445 \u043a\u043e\u0442\u0430", "likes": {"count": 26}, "date":
        1474715743, "thumbnail_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/14448450_1120503337985791_8944073393087447040_n.jpg?ig_cache_key=MTM0NjMzNTY5Nzk3OTY1NjM0OQ%3D%3D.2",
        "is_video": false, "id": "1346335697979656349", "display_src": "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e35/14448450_1120503337985791_8944073393087447040_n.jpg?ig_cache_key=MTM0NjMzNTY5Nzk3OTY1NjM0OQ%3D%3D.2"},
        {"code": "BKu2IU7AE1Z", "dimensions": {"width": 1080, "height": 1080}, "comments_disabled":
        false, "owner": {"id": "1531038819"}, "comments": {"count": 0}, "caption":
        "#ACD\u03a3", "likes": {"count": 18}, "date": 1474705695, "thumbnail_src":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/s[...]
