---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/static/bundles/base/ProfilePageContainer.js/baec51dda83f.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
      Last-Modified:
      - Wed, 18 Apr 2018 19:38:14 GMT
      Edge-Control:
      - max-age=1209600, no-transform
    body:
      encoding: UTF-8
      string: 'webpackJsonp([1],Array(20).concat([function(e,t,o){"use strict";o.d(t,"E",function(){return
        n}),o.d(t,"a",function(){return i}),o.d(t,"_58",function(){return r}),o.d(t,"_55",function(){return
        s}),o.d(t,"_53",function(){return a}),o.d(t,"p",function(){return l}),o.d(t,"_71",function(){return
        c}),o.d(t,"_70",function(){return p}),o.d(t,"_44",function(){return u}),o.d(t,"_48",function(){ret[...]
[...]
- request:
    method: get
    uri: https://www.instagram.com/gisele/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js not-logged-in client-root\">\n
        \   <head><meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n\n        <title>\nGisele Bündchen (@gisele) • Instagram
        photos and videos\n</title>\n\n        \n        <meta name=\"robots\" content=\"noimageindex,
        noarchive\">\n        <meta name=\"mobile-web-app-capable\" content=\"yes\">\n
        \       <meta name=\"theme-color\" content=\"#000000\">\n        <meta id=\"viewport\"
        name=\"viewport\" content=\"width=device-width, user-scalable=no, initial-scale=1,
        minimum-scale=1, maximum-scale=1, viewport-fit=cover\">\n        \n\n        <link
        rel=\"manifest\" href=\"/data/manifest.json\">\n\n        \n          <link
        href=\"https://graph.instagram.com\" rel=\"preconnect\" crossorigin>\n        \n\n
        \       \n        <link rel=\"preload\" href=\"/static/bundles/base/ProfilePageContainer.js/3729ca95d2ab.js\"
        as=\"script\" type=\"text/javascript\" crossorigin=\"anonymous\" />\n\n        <script
        type=\"text/javascript\">\n        (function() {\n            var docElement
        = document.documentElement;\n            var classRE = new RegExp('(^|\\\\s)no-js(\\\\s|$)');\n
        \           var className = docElement.className;\n            docElement.className
        = className.replace(classRE, '$1js$2');\n        })();\n        </script>\n
        \       <script type=\"text/javascript\">\n        (function() {\n          if
        ('PerformanceObserver' in window && 'PerformancePaintTiming' in window) {\n
        \           window.__bufferedPerformance = [];\n            var ob = new PerformanceObserver(function(e)
        {\n              window.__bufferedPerformance.push.apply(window.__bufferedPerformance,e.getEntries());\n
        \           });\n            ob.observe({entryTypes:['paint']});\n          }\n
        \         window.__bufferedErro[...]
[...]
