---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/web/search/topsearch/?query=borodanov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"users": [{"position": 0, "user": {"pk": "6120517405", "username":
        "borodanovneket", "full_name": "\u041d\u0435\u043a\u0435\u0442 \u0411\u043e\u0440\u043e\u0434\u0430\u043d\u043e\u0432",
        "is_private": false, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/22071568_119886545355753_2255638535195328512_n.jpg",
        "profile_pic_id": "1614737066536455455_6120517405", "is_verified": false,
        "has_anonymous_profile_picture": false, "follower_count": 0, "byline": "0
        followers", "mutual_followers_count": 0.0}}, {"position": 1, "user": {"pk":
        "1531038819", "username": "borodanov", "full_name": "sergey", "is_private":
        false, "profile_pic_url": "https://instagram.fsal1-1.fna.fbcdn.net/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_verified": false, "has_anonymous_profile_picture": true, "follower_count":
        119, "byline": "119 followers", "mutual_followers_count": 0.0}}, {"position":
        2, "user": {"pk": "41959014", "username": "goofla", "full_name": [...]
