---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/web/search/topsearch/?query=borodanov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"users": [{"position": 0, "user": {"pk": "1531038819", "username":
        "borodanov", "full_name": "sergey", "is_private": false, "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/vp/f17e1275a70fc32e93cbf434ddc32bcd/5B6CCC7A/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_verified": false, "has_anonymous_profile_picture": true, "follower_count":
        108, "byline": "108 followers", "mutual_followers_count": 0.0, "unseen_count":
        0}}, {"position": 2, "user": {"pk": "5811309395", "username": "m.borodanov",
        "full_name": "M.Borodanov", "is_private": false, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/vp/91b4bd43be9cf618b9a07f728316b3d1/5B5EF8A9/t51.2885-19/s150x150/21569317_1134388439996738_8099411148832505856_n.jpg",
        "profile_pic_id": "1603317066752173483_5811309395", "is_verified": false,
        "has_anonymous_profile_picture": false, "follower_count": 128, "byline": "128
        followers", "mutual_followers_count": 0.0, "unseen_count": 0}}, {"position":
        4, "user": {"pk": "41959014", "username": "goofla", "full_name": "Alex Borodanova",
        "is_private": true, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/vp/d94f152c8a96e72324f364a07c5be543/5B577A97/t51.2885-19/s150x150/11253241_1133765976658126[...]
- request:
    method: get
    uri: https://www.instagram.com/web/search/topsearch/?query=gisele
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"users": [{"position": 0, "user": {"pk": "332936971", "username":
        "gisele", "full_name": "Gisele B\u00fcndchen", "is_private": fals[...]
