---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/web/search/topsearch/?query=borodanov
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"has_more": true, "status": "ok", "hashtags": [], "users": [{"position":
        0, "user": {"username": "borodanov", "has_anonymous_profile_picture": true,
        "byline": "91 followers", "mutual_followers_count": 0.0, "profile_pic_url":
        "http://scontent-yyz1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "sergey", "follower_count": 91, "pk": 1531038819, "is_verified":
        false, "is_private": false}}, {"position": 1, "user": {"username": "borodanov.n",
        "has_anonymous_profile_picture": true, "byline": "0 followers", "mutual_followers_count":
        0.0, "profile_pic_url": "http://scontent-yyz1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "", "follower_count": 0, "pk": 1962115480, "is_verified": false,
        "is_private": false}}, {"position": 2, "user": {"username": "karl.borodanov.90",
        "has_anonymous_profile_picture": true, "byline": "0 followers", "mutual_followers_count":
        0.0, "profile_pic_url": "http://scontent-yyz1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "\u041a\u0430\u0440\u043b \u0411\u043e\u0440\u043e\u0434\u0430\u043d\u043e\u0432",
        "follower_count": 0, "pk": 2536366670, "is_verified": false, "is_private":
        false}}, {"position": 3, "user": {"username": "carla_bordanove", "has_anonymous_profile_picture":
        false, "byline": "641 followers", "mutual_followers_count": 0.0, "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/14582496_1194646727258216_2988429371154366464_n.jpg",
        "profile_pic_id": "1355317014185132021_1474879092", "full_name": "CARLA BORDANOVE\u00ae",
        "follower_count": 641, "pk": 1474879092, "is_verified": false, "is_private":
        true}}, {"position": 4, "user": {"username": "roma.borodanov.92", "has_anonymous_profile_picture":
        true, "byline": "0 followers", "mutual_followers_count": 0.0, "profile_pic_url":
        "http://scontent-yyz1-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "full_name": "mihajlov", "followe[...]
