---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/p/vKQeMNu7H1/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: ASCII-8BIT
      string: '{"graphql": {"shortcode_media": {"__typename": "GraphImage", "id":
        "849563923156546037", "shortcode": "vKQeMNu7H1", "dimensions": {"height":
        640, "width": 640}, "gating_info": null, "media_preview": null, "display_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/10735076_1575445699354021_218217100_n.jpg",
        "display_resources": [], "is_video": false, "should_log_client_event": false,
        "tracking_token": "eyJ2ZXJzaW9uIjo1LCJwYXlsb2FkIjp7ImlzX2FuYWx5dGljc190cmFja2VkIjpmYWxzZSwidXVpZCI6IjFiZjE4YjEwNmNkZjRhMmY4ZTFkYzkwODU2NTI2ZWM1ODQ5NTYzOTIzMTU2NTQ2MDM3In0sInNpZ25hdHVyZSI6IiJ9",
        "edge_media_to_tagged_user": {"edges": []}, "edge_media_to_caption": {"edges":
        [{"node": {"text": "\u0422\u0443\u0442 \u0432\u0443\u043b\u043a\u0430\u043d
        \u0438\u0437\u0432\u0435\u0440\u0433\u0430\u0435\u0442\u0441\u044f. #Kamchatka
        #Zhupanovsky #volcano"}}]}, "caption_is_edited": false, "edge_media_to_comment":
        {"count": 2, "page_info": {"has_next_page": false, "end_cursor": null}, "edges":
        [{"node": {"id": "17849885812030820", "text": "\u041a\u0440\u0430\u0441\u0438\u0432\u043e!)",
        "created_at": 1415501102, "owner": {"id": "1112152999", "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/21041935_448965935477071_5794796092243574784_a.jpg",
        "username": "murrmissa"}}}, {"node": {"id": "17849885974030820", "text": "\u041d\u0430\u043a\u043e\u043d\u0435\u0446\u0442\u043e
        \u0444\u043e\u0442\u043a\u0438 \u0441 \u043a\u0430\u043c\u0447\u0430\u0442\u043a\u0438!!",
        "created_at": 1415512825, "owner": {"id": "207878775", "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/14566708_1086878838091353_2467078147384803328_a.jpg",
        "username": "charlie_ghost"}}}]}, "comments_disabled": false, "taken_at_timestamp":
        1415495933, "edge_media_preview_like": {"count": 21, "edges": [{"node": {"id":
        "22432506", "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11187026_384011148454946_2012565913_a.jpg",
        "username": "mrmrak"}}, {"node": {"id": "271034225", "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11934910_1481648668825194_1576431314_a.jpg",
        "username": "chemberz"}}, {"node": {"id": "509360228", "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19[...]
