---
http_interactions:
- request:
    method: get
    uri: https://www.instagram.com/p/vKQeMNu7H1/?__a=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"media": {"caption_is_edited": false, "code": "vKQeMNu7H1", "dimensions":
        {"width": 640, "height": 640}, "usertags": {"nodes": []}, "owner": {"username":
        "borodanov", "full_name": "sergey", "requested_by_viewer": false, "followed_by_viewer":
        false, "has_blocked_viewer": false, "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg",
        "is_unpublished": false, "blocked_by_viewer": false, "id": "1531038819", "is_private":
        false}, "comments": {"count": 2, "page_info": {"has_previous_page": false,
        "start_cursor": null, "end_cursor": null, "has_next_page": false}, "nodes":
        [{"text": "\u041a\u0440\u0430\u0441\u0438\u0432\u043e!)", "created_at": 1415501102.0,
        "id": "17849885812030820", "user": {"username": "murrmissa", "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/s150x150/13298174_1744538709122401_225848916_a.jpg",
        "id": "1112152999"}}, {"text": "\u041d\u0430\u043a\u043e\u043d\u0435\u0446\u0442\u043e
        \u0444\u043e\u0442\u043a\u0438 \u0441 \u043a\u0430\u043c\u0447\u0430\u0442\u043a\u0438!!",
        "created_at": 1415512825.0, "id": "17849885974030820", "user": {"username":
        "charlie_ghost", "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11356889_991228980897926_1785691710_a.jpg",
        "id": "207878775"}}]}, "is_ad": false, "caption": "\u0422\u0443\u0442 \u0432\u0443\u043b\u043a\u0430\u043d
        \u0438\u0437\u0432\u0435\u0440\u0433\u0430\u0435\u0442\u0441\u044f. #Kamchatka
        #Zhupanovsky #volcano", "likes": {"count": 20, "viewer_has_liked": false,
        "nodes": [{"user": {"username": "mrmrak", "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11187026_384011148454946_2012565913_a.jpg",
        "id": "22432506"}}, {"user": {"username": "chemberz", "profile_pic_url": "https://scontent-lax3-1.cdninstagram.com/t51.2885-19/11934910_1481648668825194_1576431314_a.jpg",
        "id": "271034225"}}, {"user": {"username": "tim_lucida", "profile_pic_url":
        "https://scontent-lax3-1.cdninstagram.com/t51.2885-19[...]
